@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>swiper.js响应式宽屏图片时间轴切换特效</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800'>

    <link rel='stylesheet' href='css/swiper.min.css'>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container" style="margin-left:700px">
        <div class="timeline">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(img/1.jpg);" data-year="2011">
                        <div class="swiper-slide-content">
                            <span class="timeline-year">2011</span>
                            <h4 class="timeline-title">勤奋</h4>
                            <p class="timeline-text">业精于勤而荒于嘻，行成于思而毁于随。</p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(img/2.jpg);" data-year="2012">
                        <div class="swiper-slide-content">
                            <span class="timeline-year">2012</span>
                            <h4 class="timeline-title">努力</h4>
                            <p class="timeline-text">长风破浪会有时，直挂云帆济沧海。</p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(img/3.jpg);" data-year="2013">
                        <div class="swiper-slide-content">
                            <span class="timeline-year">2013</span>
                            <h4 class="timeline-title">细心</h4>
                            <p class="timeline-text">直缘多艺用心劳，心路玲珑格调高。</p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(img/4.jpg);" data-year="2014">
                        <div class="swiper-slide-content">
                            <span class="timeline-year">2014</span>
                            <h4 class="timeline-title">冷静</h4>
                            <p class="timeline-text">泰山崩于前而不乱。</p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(img/5.jpg);" data-year="2015">
                        <div class="swiper-slide-content">
                            <span class="timeline-year">2015</span>
                            <h4 class="timeline-title">加油</h4>
                            <p class="timeline-text">没有目标的人永远为有目标的人去努力。</p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(img/6.jpg);" data-year="2016">
                        <div class="swiper-slide-content">
                            <span class="timeline-year">2016</span>
                            <h4 class="timeline-title">博学</h4>
                            <p class="timeline-text">博观而约取，厚积而薄发。</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <script src='js/swiper.min.js'></script>
    <script src="js/script.js"></script>

</body>
</html>
