
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>考试列表</h2>
@using Account.Models;
@model List<Paper>

<table class="table table-bordered table-hover ">
    <tr>
        <th>
            试卷名
        </th>
        <th>
            试卷说明
        </th>
        <th>
            试卷时长
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.PaperNmae
            </td>
            <td>
                @item.PaperExplain
            </td>
            <td>
                @item.PaperTime
            </td>
            <td>
                <a href="/Answers/BeginAnswer?PaperID=@item.PaperID" class="btn  btn-primary">开始答题</a> |
            </td>
        </tr>
    }

</table>
