
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>天天考试网</title>

    <link href="~/Content/bootstrap1.css" rel="stylesheet" />
    <!--    font-awesome -->

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- style -->


    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <!--==================================
    =            MAIN SECTION            =
    ===================================-->
    <div class="temp-popup-form-wrapper">
        <!--========================================
        =            navigation section            =
        =========================================-->
        <nav class="navbar navbar-inverse temp-custom-navigation">
            <div class="container-fluid">
                <div class="navbar-header temp-custom-logo-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">天天考试网</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right temp-custom-list-items">
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#RegistrationStu">学生注册</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#RegistrationTea">老师注册</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#LogInModalStu">学生登录</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#LogInModalTea">老师登录</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#ForgotModal">忘记密码</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--====  End of navigation section  ====-->
        <!--====  End of SETTING SECTION  ====-->
    </div>


    <!--====  End of MAIN SECTION  ====-->
    <!--======================================
    =            registration form modal            =
    =======================================-->
    <!-- Modal -->

    <div class="modal fade" id="RegistrationStu" role="dialog">
        <div class="temp-custom-modal-wrap">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content temp-custom-modal-content">
                    <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                    <div class="modal-body temp-custom-modal-body">
                        <div class="temp-login-form-wrapper">
                            <div class="row custom-row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                    <div class="temp-reg-column-wrap-image">
                                        <div class="temp-form-inner-wrapper">
                                            <h2>注册</h2>
                                            <p>如果用户没有帐户，则通过填写给定的表单创建帐户。</p>
                                            <p class="temp-heading-for-icon temp-reg-para">第三方登录</p>
                                            <div class="temp-anchor-wrap temp-reg-anchor-wrap">
                                                <a href="#" class=" temp-anchor text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </span>
                                                    <span>facebook登录</span>
                                                </a>
                                                <a href="#" class="temp-anchor temp-icon-color text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-google" aria-hidden="true"></i>
                                                    </span>
                                                    <span>google登录</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="temp-form-column-wrap">
                                        <h2>学生注册</h2>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">名称</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">登录名</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="password">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">密码</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="password">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">确认密码</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">手机号码</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">邮箱</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">班级</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <label class="radio-inline temp-custom-radio-button">
                                                                    <input type="radio" name="gender" id="femaleRadio" value="Female">女性
                                                                    <span class="temp-radio-checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="radio-inline temp-custom-radio-button">
                                                                    <input type="radio" name="gender" id="maleRadio" value="Male">男性
                                                                    <span class="temp-radio-checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="radio-inline temp-custom-radio-button">
                                                                    <input type="radio" name="gender" id="uncknownRadio" value="Unknown">未知
                                                                    <span class="temp-radio-checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="temp-login-button-wrap">
                                                        <button class="btn btn-info temp-form-button" type="button">提交注册</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 老师 -->
    <div class="modal fade" id="RegistrationTea" role="dialog">
        <div class="temp-custom-modal-wrap">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content temp-custom-modal-content">
                    <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                    <div class="modal-body temp-custom-modal-body">
                        <div class="temp-login-form-wrapper">
                            <div class="row custom-row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                    <div class="temp-reg-column-wrap-image">
                                        <div class="temp-form-inner-wrapper">
                                            <h2>注册</h2>
                                            <p>如果用户没有帐户，则通过填写给定的表单创建帐户。</p>
                                            <p class="temp-heading-for-icon temp-reg-para">第三方登录</p>
                                            <div class="temp-anchor-wrap temp-reg-anchor-wrap">
                                                <a href="#" class=" temp-anchor text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </span>
                                                    <span>facebook登录</span>
                                                </a>
                                                <a href="#" class="temp-anchor temp-icon-color text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-google" aria-hidden="true"></i>
                                                    </span>
                                                    <span>google登录</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="temp-form-column-wrap">
                                        <h2>老师注册</h2>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">名称</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">登录名</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="password">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">密码</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="password">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">确认密码</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">手机号码</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">邮箱</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="temp-login-button-wrap">
                                                        <button class="btn btn-info temp-form-button" type="button">提交注册</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====  End of registration form modal  ====-->
    <!--======================================
    =            login form modal            =
    =======================================-->
    <!-- 学生登录 -->
    <div class="modal fade" id="LogInModalStu" role="dialog">
        <div class="temp-custom-modal-wrap">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content temp-custom-modal-content">
                    <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                    <div class="modal-body temp-custom-modal-body">
                        <div class="temp-login-form-wrapper">
                            <div class="row custom-row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                    <div class="temp-login-column-wrap-image">
                                        <div class="temp-form-inner-wrapper">
                                            <h2>登录</h2>
                                            <p>如果你有帐户，然后登录。否则，首先创建您的帐户。</p>
                                            <p class="temp-heading-for-icon">第三方登录</p>
                                            <div class="temp-anchor-wrap temp-reg-anchor-wrap">
                                                <a href="#" class=" temp-anchor text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </span>
                                                    <span>facebook登录</span>
                                                </a>
                                                <a href="#" class="temp-anchor temp-icon-color text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-google" aria-hidden="true"></i>
                                                    </span>
                                                    <span>google登录</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="temp-form-column-wrap">
                                        <h2>学生登录</h2>
                                        <form action="/Login/StuLogin" method="post">
                                            <div class="form-group">
                                                <span class="temp-span-wrap temp-span-input-label-wrap">
                                                    <input class="temp_input_field" type="text" id="StuLoginName" name="StuLoginName">
                                                    <label class="temp_input_label">
                                                        <span class="temp_input_label-content">登录名</span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <span class="temp-span-wrap temp-span-input-label-wrap">
                                                    <input class="temp_input_field" type="password" id="StuLoginPwd" name="StuLoginPwd">
                                                    <label class="temp_input_label">
                                                        <span class="temp_input_label-content">密码</span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="temp-checkbox-wrap">
                                                    <input name="signup_agree_checkbox" value="1" type="checkbox">
                                                    记住密码
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="pull-right label-content-color custom-form-label2">
                                                    <a href="#">忘记密码?</a>
                                                </label>
                                            </div>
                                            <div class="temp-login-button-wrap">
                                                <button class="btn btn-info temp-form-button" type="submit">提交登录</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 老师登录 -->
    <div class="modal fade" id="LogInModalTea" role="dialog">
        <div class="temp-custom-modal-wrap">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content temp-custom-modal-content">
                    <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                    <div class="modal-body temp-custom-modal-body">
                        <div class="temp-login-form-wrapper">
                            <div class="row custom-row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                    <div class="temp-login-column-wrap-image">
                                        <div class="temp-form-inner-wrapper">
                                            <h2>登录</h2>
                                            <p>如果你有帐户，然后登录。否则，首先创建您的帐户。</p>
                                            <p class="temp-heading-for-icon">第三方登录</p>
                                            <div class="temp-anchor-wrap temp-reg-anchor-wrap">
                                                <a href="#" class=" temp-anchor text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </span>
                                                    <span>facebook登录</span>
                                                </a>
                                                <a href="#" class="temp-anchor temp-icon-color text-left">
                                                    <span class="temp-social-icon-wrap">
                                                        <i class="fa fa-google" aria-hidden="true"></i>
                                                    </span>
                                                    <span>google登录</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="temp-form-column-wrap">
                                        <h2>老师登录</h2>
                                        <form action="/Login/TeaLogin" method="post">
                                            <div class="form-group">
                                                <span class="temp-span-wrap temp-span-input-label-wrap">
                                                    <input class="temp_input_field" type="text" id="TeaLoginName" name="TeaLoginName">
                                                    <label class="temp_input_label">
                                                        <span class="temp_input_label-content">登录名</span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <span class="temp-span-wrap temp-span-input-label-wrap">
                                                    <input class="temp_input_field" type="password" id="TeaLoginPwd" name="TeaLoginPwd">
                                                    <label class="temp_input_label">
                                                        <span class="temp_input_label-content" >密码</span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="temp-checkbox-wrap">
                                                    <input name="signup_agree_checkbox" value="1" type="checkbox">
                                                    记住密码
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="pull-right label-content-color custom-form-label2">
                                                    <a href="#">忘记密码?</a>
                                                </label>
                                            </div>
                                            <div class="temp-login-button-wrap">
                                                <button class="btn btn-info temp-form-button" type="submit">提交登录</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====  End of login form modal  ====-->
    <!--==================================
    =            contact form            =
    ===================================-->
    <!-- Modal -->
    <div class="modal fade" id="ContactModal" role="dialog">
        <div class="temp-custom-modal-wrap">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content temp-custom-modal-content">
                    <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                    <div class="modal-body temp-custom-modal-body">
                        <div class="temp-login-form-wrapper">
                            <div class="row custom-row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                    <div class=" temp-contact-column-wrap-image">
                                        <div class="temp-form-inner-wrapper">
                                            <h2>联系我们</h2>
                                            <p>如果你有任何问题，请随时给我写信。只需填写给出的条目并按下按钮即可。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="temp-form-column-wrap">
                                        <h2>联系我们</h2>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">姓</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">名</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">标题</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <input class="temp_input_field" type="text">
                                                            <label class="temp_input_label">
                                                                <span class="temp_input_label-content">邮箱</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="temp-span-wrap temp-span-input-label-wrap">
                                                            <textarea class="temp_input_field temp_textarea_field"></textarea>
                                                            <label class="temp_input_label temp-textarea-label">
                                                                <span class="temp_input_label-content">留言</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="temp-login-button-wrap">
                                                        <button class="btn btn-info temp-form-button" type="button">提交信息</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!--====  End of review section  ====-->
    <!--====================================
    =            subscribe form            =
    =====================================-->
    <!--====  End of subscribe form  ====-->
    <!--==========================================
    =            forget password form            =
    ===========================================-->
    <!-- Modal -->
        <div class="modal fade" id="ForgotModal" role="dialog">
            <div class="temp-custom-modal-wrap">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content temp-custom-modal-content">
                        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
                        <div class="modal-body temp-custom-modal-body">
                            <div class="temp-login-form-wrapper">
                                <div class="row custom-row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                                        <div class=" temp-forget-password-column-wrap-image">
                                            <div class="temp-form-inner-wrapper">
                                                <h2>忘记密码?</h2>
                                                <p>
                                                    请提供您注册时使用的用户名或电子邮件地址。我们会给你发一封电子邮件，允许你重设密码。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="temp-form-column-wrap">
                                            <h2>忘记密码?</h2>
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <span class="temp-span-wrap temp-span-input-label-wrap">
                                                                <input class="temp_input_field" type="text">
                                                                <label class="temp_input_label">
                                                                    <span class="temp_input_label-content">邮箱</span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="temp-login-button-wrap">
                                                            <button class="btn btn-info temp-form-button" type="button">提交发送</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--====  End of forget password form  ====-->
    <!--========================================
    =            reset form section            =

    <!--====  End of reset form section  ====-->
    <!--====  End of content of popup form  ====-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap1.js"></script>

    <!-- custom js link -->
    <script src="~/Scripts/form.js"></script>

    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
        <p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
        <p>来源：<a href="http://www.tiantian.com/" target="_blank">天天考试</a></p>
    </div>
</body>
</html>
